
<%- include("partials/header"); -%>
    <h1>Home</h1>
    <p> <%= HomeSc %> </p>


  <%  postsContent.forEach(function(post){ %>

    <h1><%=post.title%></h1>
    <p>
    <%=text_truncate(post.content, 0,100)%>
    <a href="/posts/<%=post.title%>">Read More</a>
    </p>


    <% }); %>
    <div class="">
     <a class="ang" href="compose">Compose</a>
    </div>

<%- include("partials/footer");-%>
